<h1><%= @dish.restaurant.name %>: <%= @dish.name %>, $<%= @dish.price %></h1>
<div class="container">
	<div id='navbar'>
		<%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %><br>
		<%= @dish.restaurant.street %><br>
		<%= @dish.restaurant.city %>, <%= @dish.restaurant.state %><br>
	</div>
	<div id='review-gallery'>
		<%= link_to "Upload a picture.", new_restaurant_dish_review_path(params[:restaurant_id], @dish) %><br>
		<% @reviews.each do |review| %>
			<%= image_tag review.photo.url(:medium) %><br>
			<%= "Score: #{review.score}" %><br>
		<% end %>
	</div>
</div>