<div class="container">
	<div id='head'>
		<h1><%= @dish.restaurant.name %></h1>
	</div>
	<div id='navbar'>
		<b><%= @dish.name %></b>
		<br> 
		(<i>Dish Type: <%= link_to @dish.dish_type.name, dish_type_path(@dish.dish_type) %></i>)
		<br>

		Price: $<%= @dish.price %><br>
		<%= @dish.description %>
		<p>

		<%= average_stars_for(@dish) %>
		Avg. Score: <%= @dish.average_rating %><br>
		(<%= @dish.total_review_count %> total reviews)
		<p><p>

		<%= link_to "Write a review.", new_restaurant_dish_review_path(params[:restaurant_id], @dish) %>
		<br>
	</div>
	<div id='reviews'>
		<% if @reviews.empty? %> 
			<h3>No Reviews Yet</h3>
			<%= link_to "Write a review.", new_restaurant_dish_review_path(params[:restaurant_id], @dish) %>
			<i>Be the first. Make a difference!</i>
		<% end %>
		<% @reviews.each do |review| %>
			<hr>
			<%= image_tag review.user.profile_photo.url(:small), class: 'thin_border' %>
			<%= link_to review.user.name, user_path(review.user) %> says:
			<%= review.body %>
			<p>
			<%= stars_for(review) %>
			<%= image_tag review.photo.url(:medium), class: 'thin_border' %>
			<p><p>
		<% end %>
	</div>
</div>