<div id='container'>
	<h1>Add Restaurant</h1>
	<div id='navbar'></div>
	<div id='content'>
		<%= form_for(@restaurant) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :street %>
			<%= f.text_field :street %>

			<%= f.label :city %>
			<%= f.text_field :city %>

			<%= f.label :state %>
			<%= f.text_field :state %><br>

			<%= f.label :photo %>
			<%= f.file_field :photo %><br>
			<%= f.submit %>
		<% end %>
	</div>
</div>
