<h1><%= @dish.restaurant.name %>: <%= @dish.name %>, $<%= @dish.price %></h1>
<div class="container">
	<div id='navbar'>
		<%= link_to @dish.restaurant.name, restaurant_path(@dish.restaurant) %><br>
		<%= @dish.restaurant.street %><br>
		<%= @dish.restaurant.city %>, <%= @dish.restaurant.state %><br>
	</div>
	<div id='content'>
		<%= form_for([:restaurant, :dish, @review]) do |f| %>
			<%= f.label :score %>
			<%= f.number_field :score %><br>
			<%= f.file_field :photo %><br>
			<%= f.submit %>
		<% end %>
	</div>
</div>


