<!DOCTYPE html>
<html>
<head>
  <title>DishRank</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
 
</head>
<body>
	<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %> 
	<div class='container'>
		<div id='sign-in'>
			<% if user_signed_in? %>
				Signed in as <%= current_user.name %>. Not you?
				<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Register", new_user_registration_path %> | 
				<%= link_to "Sign in", new_user_session_path %> |
				<%= link_to "Sign in with Facebook", 
				user_omniauth_authorize_path(:facebook) %>
			<% end %>
		</div>
		<div id='top-nav'>
			<div id='search'>
				<%= form_tag dish_types_path, method: :get do %>
					<%= collection_select(:dish_type, :dish_type_id, DishType.all, :id, :name, {:selected => params[:dish_type_id]}) %>
					<%= text_field_tag :address, params[:address] %>
					<%= submit_tag "Search Address", name: nil %>
				<% end %>
			</div>
		</div>

		<%= yield %>
	</div>
</body>
</html>
